
@font-face {font-family: "es-icon";
  src: url('./es-icon.eot?t=1501068240110'); /* IE9*/
  src: url('./es-icon.eot?t=1501068240110#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('./es-icon.woff?t=1501068240110') format('woff'), /* chrome, firefox */
  url('./es-icon.ttf?t=1501068240110') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('./es-icon.svg?t=1501068240110#es-icon') format('svg'); /* iOS 4.1- */
}

.es-icon {
  font-family:"es-icon" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.es-icon-course:before { content: "\e82c"; }

.es-icon-chart-bar:before { content: "\e82d"; }

.es-icon-home:before { content: "\e82f"; }

.es-icon-classroom:before { content: "\e831"; }

.es-icon-person:before { content: "\e833"; }

.es-icon-save:before { content: "\e837"; }

.es-icon-delete:before { content: "\e838"; }

.es-icon-arrow-down:before { content: "\e844"; }

.es-icon-arrow-left:before { content: "\e845"; }

.es-icon-menu:before { content: "\e846"; }

.es-icon-more-horiz:before { content: "\e93e"; }

.es-icon-arrow-drop-down:before { content: "\e952"; }

.es-icon-arrow-drop-up:before { content: "\e953"; }

