// font
@font-face {
  font-family: 'es-icon';  /* project id 17105 */
  src: url('https://at.alicdn.com/t/font_17105_mo0rnunuhgr.eot');
  src: url('https://at.alicdn.com/t/font_17105_mo0rnunuhgr.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_17105_mo0rnunuhgr.woff2') format('woff2'),
  url('https://at.alicdn.com/t/font_17105_mo0rnunuhgr.woff') format('woff'),
  url('https://at.alicdn.com/t/font_17105_mo0rnunuhgr.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_17105_mo0rnunuhgr.svg#es-icon') format('svg');
}

.iconfont {
  font-family:"es-icon" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

// element

body {
  background-color: #fff !important;
  min-width: 1360px;
}

// display

.es-block {
  display: block;
}

.es-ib {
  display: inline-block;
}

// font-color

.fc-gray {
  color: #666666 !important;
}

// font-size

.fs-14 {
  font-size: 14px;
}

.fs-16 {
  font-size: 16px;
}

// line-height

.lh-20 {
  line-height: 20px;
}

.lh-24 {
  line-height: 24px;
}

// margin

.ml-24 {
  margin-left: 24px !important;
}

.ml-42 {
  margin-left: 42px !important;
}

.ml-80 {
  margin-left: 80px !important;
}

.ml-88 {
  margin-left: 88px !important;
}

.mb-12 {
   margin-bottom: 12px !important;
}

.mb-24 {
  margin-bottom: 24px !important;
}

.mb-32 {
  margin-bottom: 33px !important;
}

.mb-48 {
  margin-bottom: 48px !important;
}

.mt-12 {
  margin-top: 12px !important;
}

.mt-40 {
  margin-top: 40px !important;
}

// padding

.pl-0 {
  padding-left: 0 !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.pt-8 {
  padding-top: 8px !important;
}

.pt-12 {
  padding-top: 12px !important;
}

.pt-16 {
  padding-top: 16px !important;
}

.pt-20 {
  padding-top: 20px !important;
}

.pt-24 {
  padding-top: 24px !important;
}

.pt-28 {
  padding-top: 28px !important;
}

.pt-32 {
  padding-top: 32px !important;
}

.pt-40 {
  padding-top: 40px !important;
}

.pt-48 {
  padding-top: 48px !important;
} 

.pt-64 {
  padding-top: 64px !important;
}

.pb-16 {
  padding-bottom: 16px !important;
}

.pb-24 {
  padding-bottom: 24px !important;
}

.pb-40 {
  padding-bottom: 40px !important;
}

.pb-56 {
  padding-bottom: 56px !important;
}

.pb-58 {
  padding-bottom: 58px !important;
}

.pb-88 {
  padding-bottom: 88px !important;
}

// other

.pre {
  margin-top: 0;
  margin-bottom: 24px;
  background-color: #fafafa;
  code {
    border-radius: 4px;
  }
}

.code,
.cd-table code {
  margin: 1px;
  background: #f7f7f7;
  padding: .1em .4em;
  border-radius: 3px;
  font-size: .9em;
  border: 1px solid #eee;
  display: inline-block;
}

.hljs {
  padding: 0 8px !important;
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.56) !important;
  background-color: #fafafa !important;
}

.site-main {
  position: fixed;
  top: 56px;
  left: 272px;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  background: #fff;
}

.site-content {
  position: relative;
  width: 90%;
  min-height: 480px;
  margin: 0 auto;
  border-radius: 4px;
  background-color: #fff;
  padding: 48px 0;
}

.site-content-title {
  font-size: 32px;
  font-weight: 500;
  color: @brand-primary;
  margin-bottom: 32px;
}

.site-content-des {
  font-size: 14px;
  margin-bottom: 32px;
}

.site-content-subtitle {
  font-size: 22px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.88);
  margin-bottom: 24px;
}

.site-panel {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  font-size: 12px;
  margin-bottom: 24px;
  .site-panel__heading {
    padding: 16px 16px 24px 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  }
  .site-panel__title {
    position: absolute;
    top: -8px;
    left: 8px;
    line-height: 16px;
    padding: 0 8px;
    background-color: #fff;
  }
  .site-panel__body {
    position: relative;
    padding: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  }
  .site-panel__footer {
    padding: 0 16px;
    background-color: #f8f8f8;
  }
}

.site-pager {
  width: 90%;
  margin: 0 auto 48px auto;
  .site-page {
    .cd-transition;
    &:hover {
      cursor: pointer;
      color: @brand-primary;
      .cd-transition;
    }
    &.site-page-right {
      float: right;
    }
  }
}