
//.element-layout-facility {
//  position: fixed;
//  top: 56px;
//  left: 0;
//  width: 272px;
//  padding: 18px 18px 18px 32px;
//  font-family: PingFangSC-Medium;
//  font-size: 20px;
//  color: #333;
//  line-height: 20px;
//  background-color: #fafafa;
//}
.el-content{
    position: relative;
    // width: 90%;
    min-height: 480px;
    // margin: 0 auto;
    border-radius: 4px;
    background-color: #fff;
    padding: 64px 92px 92px 40px;
}
.el-content-title{
    font-family: PingFangSC-Medium;
    font-size: 24px;
    font-weight: bold;
    color: #333333;
    letter-spacing: 0;
    line-height: 32px;

    &:before {
        content: "";
        display: inline-block;
        padding-left: 8px;
        border-left: 6px solid #31A1FF;
        border-radius: 2px; 
        height: 18px;
    }
}
.el-content-subtitle{
    font-family: PingFangSC-Medium;
    font-size: 16px;
    font-weight: bold;
    color: #333333;
    letter-spacing: 0;
    line-height: 24px;
    margin-top: 40px;
    margin-bottom: 16px;
}

.el-content-des{
    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #999999;
    letter-spacing: 0;
    line-height: 24px;
    padding-bottom: 8px;
}
.el-content-subdes{
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #666666;
    letter-spacing: 0;
    line-height: 20px;
}

.hr{
    background: #EBEBEB;
    height: 1px;
    margin-top: 12px;
    margin-bottom: 28px;
}

