p,
ul,
li,
h4,
h5
{
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
} 

h4 {
  font-size: 18px;
  color: #333333;
  letter-spacing: 0;
  line-height: 28px;
}

img {
  display: block;
}

.inline-block {
  display: inline-block;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.clearfix {
  &::after {
    content: "";
    display: block;
    clear: both;
  }
} 

.site-principle-content-title {
  position: relative;
  font-size: 24px;
  color: #333333;
  line-height: 32px;
  padding-left: 14px;
  padding-bottom: 12px;
  border-bottom: 1px solid #ebebeb;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 6px;
    height: 18px;
    margin-top: -14px;
    background-color: #31a1ff;
    border-radius: 2px;
  }
}

.site-principle-content-inner { 
  padding-left: 12px;
  padding-right: 12px;
}

// .site-principle-content-info p {
//   font-size: 16px;
//   color: #666666;
//   line-height: 24px;
//   margin-bottom: 24px;
// } 

// .site-principle-content-info-name {
//   font-size: 16px;
//   color: #333333;
//   line-height: 20px;   
// } 

.site-principle-content-img { 
  max-width: 100%;
}
 