.site-sidebar {
  position: fixed;
  top: 56px;
  left: 0;
  bottom: 0;
  width: 272px;
  overflow: auto;
  background: #fff;
  border-right: 1px solid #eee;
  box-shadow: 0 0 4px 0 rgba(0,0,0,0.01), 0 4px 4px 0 rgba(0,0,0,0.04);
}

.site-sidebar__column__title {
  padding: 20px 16px 12px 32px;
  font-family: PingFangSC-Medium;
  font-size: 14px;
  color: #333333;
  line-height: 20px;
}

.site-sidebar__nav {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  li {
    font-size: 14px;
    line-height: 20px;
    color: #666;
    padding: 8px 16px 8px 44px;
    cursor: pointer;
    //&:hover {
    //  cursor: pointer;
    //  .cd-hover-light;
    //  .cd-transition;
    //  .nav-en {
    //    .cd-hover-light;
    //    .cd-transition;
    //  }
    //}
    &:hover,
    &.active {
      box-shadow: inset -2px 0 0 0 @brand-primary;
      background-color: #f1f9ff;
    }
    .nav-en {
      font-size: 12px;
      margin-left: 4px;
      color: rgba(0, 0, 0, 0.32);
    }
  }
}
